#recordaudio {
    height: 250px;
    width: 750px;
    position: relative;
    margin-top: 300px;
    left: 35%;
}

#filenameid {
    width: 70%;
}

#postbutton {
    height: 20px;
    width: 60px;
    left: 50%;
}