#recordaudio {
    width: 750px;
    display: inline-block;
    margin: 50px 0 50px 0;
    left: 35%;
}

input {
    padding: 5px;
}
button {
    padding: 5px;
}

table {
    display: inline-block;
}

.reginput {
    width: 240px;
    display: inline-block;
}

.reglabel {
    display: inline-block;
}